.wrapper {
  position: relative;
  overflow: hidden;
}

.container {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  max-width: 720px;
  margin: 0 auto;
  padding: 5px 10px;
}

@media ( min-width: 488px) {
  .container {
    padding: 15px 20px;
  }
}